<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Please sign in</h1>-->
<!--<div>-->
<!--    <form method="post" action="/login">-->
<!--&lt;!&ndash;        <div><label>Username: <input name="j_username"/></label></div>&ndash;&gt;-->
<!--        <div>-->
<!--            <label for="j_username">-->
<!--                </label>-->
<!--                <input type="text" id="j_username" class=-->
<!--                        "form-control" placeholder="Username">-->
<!--        </div>-->
<!--        <br>-->
<!--        <div><label for="j_password">-->
<!--        </label>-->
<!--            <input type="text" id ="j_password" class=-->
<!--                    "form-control" placeholder="Password">-->
<!--        </div>-->
<!--        <br>-->
<!--        <input type="submit" style="color: blue" value="Sign in"/>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->