<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8"/>
<body>
<h1>User</h1>
<br/><br/>
<div th:if="${user}">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${user.name}">...</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>:</td>
            <td th:utext="${user.surname}">...</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>:</td>
            <td th:utext="${user.age}">...</td>
        </tr>
    </table>
    <br/><br/>
    <form th:method="POST" th:action="@{/admin/delete/{Id}(Id=${user.id})}">
        <input type="submit" value="Delete"/>
    </form>
    <br>
</div>
<div class="logout">
    <a href="/logout">logout</a>
</div>
</body>
</html>