<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<div>
    <form action="add" method="POST"
          th:object="${user}">
        <table border="0">
            <tr>
                <td><input type="text" name="name" placeholder="User name" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><input type="text" name="surname" placeholder="User surname" th:field="*{surname}"/></td>
            </tr>
            <tr>
                <td><input type="number" name="age" placeholder="User age" th:field="*{age}"/></td>
            </tr>
            <tr>
                <td><input type="text" name="password" placeholder="My password" th:field="*{password}"/></td>
            </tr>
            <label>
                <input type="checkbox" name="userCheck"/>User role
            </label>
            <label>
                <input type="checkbox" name="adminCheck"/>Admin role
            </label>
        </table>
        <input type="submit" th:value="Create"/>
    </form>
    <br>
    <div class="logout">
        <a href="/logout">logout</a>
    </div>
</div>
</body>
</html>


